[submodule "track"]
	path = track
	url = https://github.com/rslim087a/track
[submodule "track_org"]
	path = track_org
	url = https://github.com/VivekS-4/Self-Driving-Car
[submodule "german-traffic-signs"]
	path = german-traffic-signs
	url = https://bitbucket.org/jadslim/german-traffic-signs
